<header class="header">
    <nav class="navbar main-grid">
        <div class="col-4 text-left">
            <a class="" href="#"><img src="./../../../assets/images/logo/logo-big-sa.png" alt="logo big"></a>
        </div>

        <div class="col-8">
            <ul class="">
                <li class="">
                    <a class="" routerLink="/main-page" routerLinkActive="active">Pocetna</a>
                </li>
                <li class="">
                    <a class="" routerLink="/services" routerLinkActive="active">Usluge</a>
                </li>
                <li class=" active">
                    <a class="" routerLink="/about-us" routerLinkActive="active">O nama</a>
                </li>
                <li class="">
                    <a class="" routerLink="/contact" routerLinkActive="active">Kontakt</a>
                </li>
            </ul>
        </div>

    </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="main-grid">
        <div class="top">
            <div class="col-4 text-left">
                <a href="javascript:;">
                    <img src="./../../../assets/images/logo/logo-sa.png" alt="logo small">
                </a>
            </div>
            <div class="col-8">
                <ul class="">
                    <li class="">
                        <a class="" routerLink="/main-page" routerLinkActive="active">Pocetna</a>
                    </li>
                    <li class="">
                        <a class="" routerLink="/services" routerLinkActive="active">Usluge</a>
                    </li>
                    <li class=" active">
                        <a class="" routerLink="/about-us" routerLinkActive="active">O nama</a>
                    </li>
                    <li class="">
                        <a class="" routerLink="/contact" routerLinkActive="active">Kontakt</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mid text-left">
            <i><img src="./../../../assets/images/ico/facebook.png" alt="facebook"></i>
            <i><img src="./../../../assets/images/ico/twitter.png" alt="twitter"></i>
            <i><img src="./../../../assets/images/ico/instagram.png" alt="instagram"></i>
        </div>
    </div>
    <div class="bot">
        <div class="main-grid">
            <div class="col-8 text-left">
                <a href="javascript:;">srp</a>
                <a href="javascript:;">eng</a>
            </div>
            <div class="col-4">asd</div>
        </div>
    </div>
</footer>