<header class="header color-gray">
    <nav class="navbar main-grid">
        <div class="col-4 text-left">
            <a class="show" href="javascript:;"><img src="./../../../assets/images/logo/logo-big-sa.png" alt="logo big"></a>
            <a class="none" href="javascript:;"><img src="./../../../assets/images/logo/logo_black.png" alt="logo black"></a>
        </div>

        <div class="col-8">
            <ul class="">
                <li class="active">
                    <a class="" routerLink="/main-page" routerLinkActive="active">Pocetna</a>
                </li>
                <li class="">
                    <a class="" routerLink="/services" routerLinkActive="active">Usluge</a>
                </li>
                <li class="">
                    <a class="" routerLink="/about-us" routerLinkActive="active">O nama</a>
                </li>
                <!--<li class="">
                    <a class="" routerLink="/contact" routerLinkActive="active">Kontakt</a>
                </li>-->
            </ul>
        </div>

    </nav>
</header>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="main-grid">
        <div class="top top-none">
            <div class="col-4 text-left none">
                <a href="javascript:;">
                    <img src="./../../../assets/images/logo/logo-sa.png" alt="logo small">
                </a>
            </div>
            <div class="col-8 none">
                <ul class="">
                    <li class="">
                        <a class="" routerLink="/main-page" routerLinkActive="active">Pocetna</a>
                    </li>
                    <li class="">
                        <a class="" routerLink="/services" routerLinkActive="active">Usluge</a>
                    </li>
                    <li class=" active">
                        <a class="" routerLink="/about-us" routerLinkActive="active">O nama</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mid text-left ">
            <i class="ico-face"><a href="https://m.facebook.com/milanovicdentist/"><img src="./../../../assets/images/ico/facebook.png" alt="facebook"></a></i>
            <!--<i class="ico-twit"><img src="./../../../assets/images/ico/twitter.png" alt="twitter"></i>-->
            <i class="ico-insta"><a href="javascript:;"><img src="./../../../assets/images/ico/instagram.png" alt="instagram"></a></i>
        </div>
    </div>
    <div class="bot">
        <div class="main-grid">
            <div class="col-8">
                <a href="javascript:;">srp</a>
                <a>/</a>
                <a href="javascript:;">eng</a>
            </div>
            <div class="col-4">
                <go-top-button [html]="'<i class=\'fa fa-caret-up\'></i>'" [animate]="true" [speed]="50" [acceleration]="2" [scrollDistance]="50" [styles]="{
                    'position': 'absolute',
                    'top': '0px',
                    'right': '0',
                    'line-height': '20px',
                    'color': '#41cbd7',
                    'background': 'transparent',
                    'font-size': '37px'
                 }">
                </go-top-button>
            </div>
            <!--<div class="col-4"><i class="fa fa-caret-up" aria-hidden="true" (click)="toTop()"></i></div>-->
        </div>
    </div>
</footer>