<div class="container-fluid">
    <h1 class="text-center">{{title}}</h1>
    <div class="row">
        <div class="col">
            <h3>Stomatološka ordinacija "dr Branko Milanović"</h3>
            <p>Dunavska 34, Novi Sad</p>
            <p>Ordinacija: +381 21 457-592</p>
            <p>Mobilni: +381 63 519-377</p>
            <p>Email: dentistmilanovic@yahoo.com</p>
            <p>Radno vreme:</p>
            <p>Ponedeljak: 10 - 16h</p>
            <p>Petak: 10 - 16h</p>
            <p>Utorak: 15 - 20h</p>
            <p>Sreda: 15 - 20h</p>
            <p>Četvrtak: 15 - 20h</p>
            <p>Subota po dogovoru</p>
            <p>Nedelja ne radna</p>
        </div>
        <div id="map" class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">Example textarea</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
            Naš tim koordinatora kao i naša stomatološka ordinacija “Dr Branko Milanović” stoji Vam na raspolaganju da odgovori na sva Vaša pitanja i da Vam da sve potrebne informacije u vezi Vašeg lečenja i boravka u Novom Sadu. Možete nas kontaktirati putem telefona,
            mejla, Skajpa ili Vibera (besplatno). Da biste ostvarili plan terapije i personalizovali predračun besplatno i potpuno neobavezujuće, dovoljno je da nam pošaljete zahtev sa kratkim objašnjenjem zubarskih intervencija koje treba izvršiti. Poželjno
            je da nam uz zahtev dostavite i ortopan ne stariji od 3 meseca (po mogućstvu u elektronskoj formi) i ako imate predračun koji Vam je već izdao neki zubar iz Srbije ili inostranstva. Na taj način moći ćemo da Vam izdamo precizan predračun i
            plan terapije, pa možete unapred da planirate svoje vreme i novac.
        </div>
    </div>
</div>