<!--<div class="under-construct">
    <img src="./../../../assets/images/UnderConstruct.jpg" alt="UnderConstruct">
</div>-->

<div class="main-page">
    <div class="main-grid pad-top">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="./../../../assets/images/content/slider/Fotka-1.jpg" alt="First slide">
                    <a class="carusel-btn show" href="">Kontaktirajte nas</a>
                </div>
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="./../../../assets/images/content/slider/Fotka-2.jpg" alt="Second slide">
                    <a class="carusel-btn show" href="">Kontaktirajte nas</a>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="./../../../assets/images/content/slider/Fotka-3.jpg" alt="Third slide">
                    <a class="carusel-btn show" href="">Kontaktirajte nas</a>
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="./../../../assets/images/content/slider/Fotka-4.jpg" alt="Fourth slide">
                    <a class="carusel-btn show" href="">Kontaktirajte nas</a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <img src="./../../../assets/images/content/slider/arrowLeft.png" alt="arrow left">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <img src="./../../../assets/images/content/slider/arrowRight.png" alt="arrow right">
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="service-page">
    <div class="main-grid">
        <div class="service-choose-you">
            <div class="service-grid">
                <div class="row chy-row">
                    <div class="col">
                        <h3>Naše usluge</h3>
                        <h2>Odaberite sami!</h2>
                        <p>Konzervativna terapija zuba odnosno estetsko-reparaturna-zubna terapija.</p>
                        <p>Vrhunska zubna protetika</p>
                        <p>Metal keramika i bezmetalna zubna keramika</p>
                        <p>Cirkon u vidu fiksnih, mobilnih i kombinovano-fiksno-mobilnih zubnih nadoknada kao i klasičnih mobilnih zubnih nadoknada od akrilata.</p>
                        <p>Obavlja se vrhunska oralno-hirurška terapija usne duplje kao što su: vađenje retiniranih,impaktiranih zuba, hirurška protetska nivelacija zubnih grebenova u cilju izrade adaptivilnih i dobro nosećih zubnih nadoknada.</p>
                        <p>Vestibulo plastika tj. Hirurško plastično produbljivanje predvorja usne duplje u cilju dobre izrade mobilnih protetskih nadoknada kao i uspešno izvedenih zubnih implanta. U vezi uspešnosti vestibilo plastike postoji autorsko objavljeni
                            rad u stomatološkom glasniku.
                        </p>
                    </div>
                    <div class="col">
                        <img src="./../../../assets/images/content/services/4-kocke.jpg" alt="Slika cetiri dela">
                    </div>
                </div>
                <div class="chy-blue-box"></div>
            </div>
        </div>

        <div class="service-estetic">
            <div class="service-grid">
                <h4>Estetska stomatologija - koraci u lečenju</h4>
                <div class="row">
                    <div class="est-top-text-wrap">
                        <h5>Preoblikovanje zuba je minimalno invazivni tretman kojim možete poboljšati estetiku zuba i osmeh.</h5>
                        <p>Po obavljenom pregledu i sagledavanju celokupne slike i stanja vaših zuba (stomatološki status, zdravstveno stanje i radiološka snimanja), izrađujemo personalizovan koncept lečenja prilagođen upravo Vama, Vašim željama i potrebama.
                            Brzim, jednostavnim i bezbolnim procesom za kratko vreme možete uživati u svom novom izgledu i osmehu.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="est-img-col" src="./../../../assets/images/content/services/osmeh.jpg" alt="Slika osmeha">
                    </div>
                    <div class="col left">
                        <div class="est-img-side-wrap">
                            <p class="bold no-indent est-img-side-title">Samu estetiku možete poboljšati i sledećim tretmanima:</p>
                            <p class="bulet">izbeljivanje zuba</p>
                            <p class="bulet">bezmetalna keramika</p>
                            <p class="bulet">protetika na implantima</p>
                        </div>
                        <div class="est-blue-box"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="service-braces">
            <div class="service-grid">
                <h4>Zubna proteza</h4>
                <div class="row ser-pad-bot">
                    <h5>Zubna proteza zamenjuje više ili sve zube jedne vilice.</h5>
                    <p>Uglavnom se pod protezom podrazumeva protetsko rešenje koje se može i mora vaditi iz usta prvenstveno radi pravilnog održavanja oralne higijene. Zubne proteze izrađuju naši iskusni tehničari od najkvalitetnijih materijala. Razlikujemo
                        više tipova proteza, a ovde ćemo ih podeliti prema načinu na koji su učvršćene u ustima.</p>
                </div>
                <div class="row">
                    <div class="col left ser-pad-left">
                        <p class="bold ser-bulet-title">Vrste mobilnih proteza:</p>
                        <p class="bulet ser-pad-left-l"><span class="bold">Totalna proteza:</span> Totalna proteza je jedino moguće rešenje u slučaju kad ne postoje zubi u vilici ili kada su preostali zubi suviše lošeg kvaliteta da bi mogli da se upotrebe kao nosači parcijalne proteze
                            kao i kad je vilična kost toliko resorbovana da ne postoji mogućnost ugradnje implanta. Ovakav tip proteze drži za desni po principu vakuuma. Ukoliko je otisak na osnovu kog se radi proteza precizno uzet, totalna proteza može
                            vrlo čvrsto da stoji u ustima. Ipak, ponekad je potrebno pospešiti prijanjanje uz upotrebu lepka za proteze.</p>
                    </div>
                    <div class="col">
                        <img class="ser-img-col" src="./../../../assets/images/content/services/braices.jpg" alt="Slika proteze">
                    </div>
                </div>
                <p class="bulet left ser-pad-left-b"><span class="bold">Parcijalna proteza:</span> Parcijalna proteza se preporučuje u slučajevima kada u vilici postoje zubi koji bi mogli da se upotrebe kao solidni i dugotrajni nosači proteze a usled parcijalnog gubitka kosti ili finansijske
                    situacije pacijenta, ugradnja implanta nije moguća. U tom slučaju se izrađuje proteza čija je osnova načinjena od metala i zakačena za noseće zube kukicom, odnosno atačmenima, dok se gornja površina oslanja na desni.</p>
                <p class="bulet left ser-pad-left-b"><span class="bold">Zubna proteza na implantima:</span> Ova proteza je znatno stabilinije rešenje od prethodna dva, iako je i ovde reč o mobilnoj protezi, dakle protezi koja se vadi iz usta. Ukoliko postoji mogućnost ugradnje implanta,
                    nakon perioda osteo-integracije odnosno srastanja implanta u kost, izrađuje se proteza koja se pričvršćuje za implante uz pomoć retencionih elemenata.</p>
            </div>
        </div>

        <div class="service-crowns">
            <div class="service-grid">
                <h4>Krunice za zube</h4>
                <div class="row">
                    <h5 class="no-margin-top">Zubne krune zamenjuju vidljivi deo zuba u slučajevima kad je zub polomljen, devitalizovan ili krhk pa ga je potrebno zaštititi ili kad je zub izgubljen.</h5>
                    <div class="cro-text-wrap">
                        <p>Krunice se takođe mogu koristiti i iz čisto estetskih razloga kad postoje izražene nepravilnosti u boji ili obliku zuba. Budići da se izrada krunica vrši na osnovu personalizovanog otiska, savršeno se uklapa sa postojećim prirodnim
                            zubima ili krunicama tako da predstavlja istovremeno i funkcionalno i estetsko rešenje.</p>
                        <p>Zubne krunice se izrađuju u moderno opremljenim zubnotehničkim laboratorijama što za rezultat ima savršeno preciznu izradu. Ipak, našim pacijentima uvek pružamo mogućnost da zahtevaju eventualne korekcije (promena boje, oblika,
                            veličine) i to nakon određenog perioda adaptacije kada su krunice privremeno cementirane. Kada je pacijent u potpunosti zadovoljan protetskim radom, krunice se definitivno cementiraju.</p>
                    </div>
                    <h5>Zubne krunice mogu biti izrađene od metal-keramike ili keramike.</h5>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img class="cro-img-col" src="./../../../assets/images/content/services/zubi.jpg" alt="Pravljenje krunica">
                    </div>
                    <div class="col-6 left cro-side-text-wrap">
                        <p class="full-width bulet cro-pad-left"><span class="bold">Metalo-keramičke krune</span> - imaju metalnu osnovu koja je u potpunosti prekrivena keramikom ili porcelanom. Na taj način ovaj tip krunica je gotovo jednako izdržljiv kao metalne krunice dok je estetski besprekoran,
                            pa se metalo-keramičke krune mogu podjednako koristiti kako za zadnje tako i za prednje zube.</p>
                        <p class="full-width cro-pad-left-m">Za osnovu metalo-keramičkih kruna se najčešće koristi razne vrste legura za porcelan ili i titanijum koji spada u biokompatibilne materijale, pa u tom slučaju nisu moguće bilo kakve alergijske reakcije.</p>
                    </div>
                </div>
                <div class="row">
                    <p class="full-width left bulet cro-pad-left cro-belowe-img"><span class="bold">Bezmetalne keramičke krunice (cirkonijum)</span> - Bezmetalne krune izrađuje se u celosti od keramike, odnosno osnova im je keramička ili cirkonska. Keramičke krunice su estetski neprevaziđene, a budući da ne sadrže
                        metal ne postoji rizik od alergijskih reakcija. Međutim, keramičke krunice su previše osetljive da bi mogle da podnesu pritisak izazvan žvakanjem pa se radije preporučuju za prednje zube.</p>
                </div>
                <div class="row left">
                    <div class="cro-bullet-wrap">
                        <h5 class="cro-mar-bot">Za koju god vrstu krunica da se odlučite, postupak izrade je isti:</h5>
                        <p class="no-margin bulet">brušenje zuba i uzimanje individualnog otiska</p>
                        <p class="no-margin bulet">izradu krunice u laboratoriji</p>
                        <p class="no-margin bulet">probu krunice u ustima i eventualne korekcije</p>
                        <p class="no-margin bulet">privremeno cementiranje (period adaptacije)</p>
                        <p class="no-margin bulet">definitivno cementiranje zubne krune</p>
                    </div>
                </div>
                <div class="cro-bot-text-wrap">
                    <h5>Vek trajanja laboratorijski izrađene zubne krune najčešće je 8-10 godina, a može da traje i duže uz pažljivo postupanje i redovno i pravilno održavanje oralne higijene.</h5>
                    <p class="bold">Ordinacija „DR Branko Milanović“ poseduje rendgenski aparat za retro-alveolarno rentgensko snimanje zuba. Zahvlaljujući navedenim uslugama pacijent za veoma kratko vreme može da dobije vrhunske stomatološke usluge po povoljnim cenama
                        na jednom mestu.
                    </p>
                </div>
                <div class="cro-blue-box"></div>
            </div>
        </div>

        <div class="service-implants">
            <div class="service-grid">
                <h4>Zubni implanti</h4>
                <h5>Zubni implant je titanijumski “šraf” koji se ugrađuje u kost vilice i srasta sa njom, a služi kao zamena za koren izgubljenog ili nedostajućeg zuba.</h5>
                <p>Ordinacija “Dr Branko Milanović” je specijalizovana za ugradnju trenutno najboljih implanata na tržištu. Vrhunski rezultati se postižu zahvaljujući predanom radu i stalnom usavršavanju ali prevashodno detaljnom analizom slučaja i uvidom
                    u zdravstveno stanje pacijenta pre pristupanja intervenciji. Ugradnja implanta je vrlo fina hirurgija, sam oporavak traje kratko, ali da bi se implant uspešno primio, potrebno je da uslovi u ustima kao i zdravlje pacijenta budu dobri.</p>
            </div>
            <div class="ser-imp-back-wrap">
                <div class="ser-imp-text">
                    <h5>Postupak ugradnje implanta odvija se na sledeći način i ovim redom:</h5>
                    <div class="ser-imp-text-par">
                        <p class="bulet">Prva faza je uvid u kvalitet i kvantitet zubne kosti što se utvrđuje uz pomoć rendgenskog snimka. Ukoliko zubar kostatuje da vilična kost nije pogodna za ugradnju zubnog implanta, odnosno da kost ne može da podrži implant, onda
                            se pacijentu predlaže neko drugo rešenje. Naše pacijente koji dolaze iz inostranstva unapred obaveštavamo o tome i u skladu sa tim pravimo plan terapije. Ukoliko se utvrdi da kost može da podrži implante, zubar utvrđuje veličinu
                            implanta koji će se postaviti i najidealniju poziciju istog.</p>
                        <p class="no-indent">Naravno, ukoliko postoje naznake bolesti desni ili krvarenja, potrebno je prvo to izlečiti.</p>
                    </div>
                    <div class="ser-imp-text-par">
                        <p class="bulet">Druga faza podrazumeva ugradnju implanta. Postupak je bezbolan, radi se pod lokalnom anestezijom i traje u proseku 30 minuta. Zubar će Vam nakon intervencije prepisati lek protiv bolova koji ćete piti po potrebi mada su dosadašnja
                            iskustva pacijenata pokazala da je više reč o maloj neprijatnosti nego o bolu. Ugradnja implanta je bezbolnija od vađenja zuba.</p>
                    </div>
                    <div class="ser-imp-text-par">
                        <p class="bulet">Zatim nastupa period osteo-integracije, odnosno srastanja implanta sa kosti, što traje između 3 i 6 meseci, pa i duže. Tokom ovog perioda pacijent može dobiti neko privremeno protetsko rešenje.</p>
                    </div>
                    <div class="ser-imp-text-par">
                        <p class="bulet">Kada se implant učvrsti u kosti i desni zarastu, na implant se postavlja suprastruktura koja ima ulogu izbrušenog zuba prilikom postavljanja krunica na prirodni zub ili nadogradnje zuba. Uzima se otisak, i počinje izrada zubnih
                            krunica, proteze ili mostova u zavisnosti šta je predviđeno planom terapije.</p>
                    </div>
                    <div class="ser-imp-text-par">
                        <p class="bulet">Završna faza podrazumeva postavljanje krunica, proteza ili mostova. U ordinaciji “Dr Branko Milanović” praksa je da se pacijentu privremeno učvrsti protetika kako bi u narednih dan ili dva pacijent imao priliku da je isproba i
                            shvati da li su potrebne izvesne modifikacije bilo da je reč o zagrižaju, formi ili boji protetskog rada. Nakon što su poslednje korekcije izvršene, protetski rad se definitivno pričvršćuje za implant ili preciznije za suprastrukturu
                            implanta i pacijent dobija implantološki pasoš, koji mu omogućava da bilo gde u svetu izvrši kontrolu implanta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>