.footer {
    clear: both;
    background: $gray;
    text-align: right;
    // .none {
    //     display: block;
    // }
    .top {
        overflow: hidden;
        .col-4 {
            a {
                img {
                    width: 115px;
                    padding: 28px 0 0 0;
                    margin-left: 41px;
                }
            }
        }
        .col-8 {
            padding-right: 25px;
            ul {
                padding-top: 22px;
                li {
                    display: inline-block;
                    padding-right: 8px;
                    font-size: 22px;
                    a {
                        color: $white;
                        font-size: 15.75px;
                        &:hover {
                            color: $blue-light;
                        }
                    }
                }
            }
        }
    }
    .mid {
        padding: 29px 0 34px 0;
        margin-left: 41px;
    }
    .bot {
        border-top: 1px solid $white;
        .col-4,
        .col-8 {
            padding: 10px 0 30px 0;
            font-size: 17px;
            text-transform: uppercase;
        }
        .col-4 {
            width: 32.33%;
            border-left: 1px solid $white;
            padding-bottom: 55px;
            go-top-button {
                position: relative;
                bottom: 0;
                button.go-top-button {
                    background: red;
                    .fa-caret-up {
                        color: $blue-light;
                        font-size: 28px;
                        padding-right: 40px;
                        line-height: 13px;
                    }
                }
            }
        }
        .col-8 {
            width: 64%;
            margin-left: 41px;
            text-align: left;
            a {
                color: $white;
                padding-right: 3px;
                &:hover {
                    color: $blue-light;
                }
            }
        }
    }
    @include breakpoint(footer) {
        .bot {
            border-top: 1px solid $white;
            .col-4 {
                width: 31.33%;
                .fa-caret-up {
                    line-height: 25px;
                    padding-right: 0;
                }
            }
            .col-8 {
                width: 62%;
                text-align: left;
                a {
                    color: $white;
                    padding-right: 3px;
                    &:hover {
                        color: $blue-light;
                    }
                }
            }
        }
    }
    @include breakpoint(tablet) {
        .top {
            overflow: hidden;
            .none {
                display: none;
            }
        }
        .mid {
            padding: 0;
            margin: 89px auto 17px auto;
            width: 11%;
        }
        .bot {
            border-top: 1px solid $white;
            .col-4,
            .col-8 {
                padding: 25px 0;
                font-size: 17px;
                text-transform: uppercase;
            }
            .col-4 {
                width: 37.33%;
                border: 0;
                .fa-caret-up {
                    font-size: 37px;
                    line-height: 25px;
                    padding-right: 0;
                }
            }
            .col-8 {
                width: 56%;
                margin-left: 53px;
                text-align: left;
                a {
                    color: $white;
                    padding-right: 3px;
                    &:hover {
                        color: $blue-light;
                    }
                }
            }
        }
    }
    @include breakpoint(phone-mid) {
        .top {
            overflow: hidden;
            .none {
                display: none;
            }
        }
        .mid {
            padding: 0;
            margin: 89px auto 17px auto;
            width: 14%;
        }
        .bot {
            border-top: 1px solid $white;
            .col-4,
            .col-8 {
                padding: 25px 0;
                font-size: 17px;
                text-transform: uppercase;
            }
            .col-4 {
                width: 32.33%;
                border: 0;
                .fa-caret-up {
                    font-size: 37px;
                    line-height: 25px;
                    padding-right: 0;
                }
            }
            .col-8 {
                width: 50%;
                margin-left: 53px;
                text-align: left;
                a {
                    color: $white;
                    padding-right: 3px;
                    &:hover {
                        color: $blue-light;
                    }
                }
            }
        }
    }
    @include breakpoint(phone) {
        .top {
            overflow: hidden;
            .none {
                display: none;
            }
        }
        .mid {
            padding: 0;
            margin: 89px auto 17px auto;
            width: 20%;
        }
        .bot {
            border-top: 1px solid $white;
            .col-4,
            .col-8 {
                padding: 25px 0;
                font-size: 17px;
                text-transform: uppercase;
            }
            .col-4 {
                width: 32.33%;
                border: 0;
                .fa-caret-up {
                    font-size: 37px;
                    line-height: 25px;
                    padding-right: 0;
                }
            }
            .col-8 {
                width: 50%;
                margin-left: 53px;
                text-align: left;
                a {
                    color: $white;
                    padding-right: 3px;
                    &:hover {
                        color: $blue-light;
                    }
                }
            }
        }
    }
    @include breakpoint(phone-small) {
        .top {
            overflow: hidden;
            .none {
                display: none;
            }
        }
        .mid {
            padding: 0;
            margin: 89px auto 17px auto;
            width: 27%;
        }
        .bot {
            border-top: 1px solid $white;
            .col-4,
            .col-8 {
                padding: 25px 0;
                font-size: 17px;
                text-transform: uppercase;
            }
            .col-4 {
                width: 32.33%;
                border: 0;
                .fa-caret-up {
                    font-size: 37px;
                    line-height: 25px;
                    padding-right: 0;
                }
            }
            .col-8 {
                width: 50%;
                margin-left: 30px;
                text-align: left;
                a {
                    color: $white;
                    padding-right: 3px;
                    &:hover {
                        color: $blue-light;
                    }
                }
            }
        }
    }
}