.btn {
    float: right;
    padding: 8px 37px;
    border-radius: 0;
    background: $black;
    color: $white;
    letter-spacing: 1px;
    @include transition($slowDuration);
    &:hover {
        background: $gray;
    }
}