/*----------  icons
------------------------------------------------------------------------------*/

i {
    padding: 0;
}

.ico-face {
    img {
        width: 24px;
    }
}

.ico-twit {
    img {
        width: 46px;
        margin: 0 18px;
    }
}

.ico-insta {
    padding-left: 25px;
    img {
        width: 50px;
    }
}