/*----------  icons
------------------------------------------------------------------------------*/

i {
    padding: 0;
}

.ico-face {
    img {
        width: 18px;
    }
}

.ico-twit {
    img {
        width: 46px;
        margin: 0 18px;
    }
}

.ico-insta {
    img {
        width: 39px;
    }
}